@import "../../theme.scss";

.Landing {
  height: 100vh;
  position: relative;

  @media ($mobileLarge) {
    height: 100vh;
    position: relative;
  }

  &-Img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-OverlayPrimary {
    width: 27%;
    height: 100%;
    left: 0;
    position: absolute;
    background: $colorPrimary;
    opacity: 90%;
  }

  &-OverlaySecondary {
    width: 73%;
    height: 100%;
    right: 0;
    position: absolute;
    background: $colorBlack;
    opacity: 65%;
  }

  &-Content {
    position: absolute;
    width: 1300px;
    left: 30px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    @media ($tablet) {
      top: 20px;
    }
    @media ($tabletLarge) {
      top: 20px;
    }
  }

  &-Title {
    color: $colorSecondary;
    font-size: 36px;
    margin-bottom: 24px;
    width: 300px;

    @media ($tablet) {
      font-size: 40px;
      width: 450px;
    }
    @media ($tabletLarge) {
      font-size: 45px;
      width: 500px;
    }
    @media (min-width: 1024px) {
      font-size: 56px;
      width: 550px;
    }
  }

  &-Subtitle {
    color: $colorSecondary;
    font-size: 16px;
    margin-bottom: 48px;
    width: 250px;

    @media ($tablet) {
      font-size: 20px;
      width: 400px;
    }
    @media ($tabletLarge) {
      font-size: 24px;
      width: 500px;
    }
    @media ($desktop) {
      font-size: 24px;
      width: 500px;
    }
  }
}
