@import "../../theme.scss";

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 24px; /*-top/down, left/right*/

  &-Header-Secondary {
    background-color: $colorTextPrimary;
    position: initial;
  }

  &-Hamburger {
    width: 30px;
    height: auto;

    @media ($desktop) {
      display: none;
    }
  }
  path {
    fill: $colorSecondary;
  }

  &-Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media ($desktop) {
      width: 900px;
      margin: 0 auto;
      padding: 32px 0px;
    }

    @media ($desktopLarge) {
      width: 1260px;
    }
  }

  &-Nav {
    display: none;

    @media ($desktop) {
      display: block;
    }
  }

  &-NavLink {
    color: $colorSecondary;
    letter-spacing: 1px;
    margin-right: 48px;
  }

  &-NavButton {
    margin-right: 24px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  &_Secondary {
    background-color: $colorTextPrimary;
    position: initial;
  }

  &-active {
    color: $colorSecondary;
    letter-spacing: 1px;
    margin-right: 48px;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
